python-dotenv
TA-lib
tushare
pandas
numpy
matplotlib
QUANTAXIS>1.9.2
pyecharts
pyecharts-jupyter-installer
jupyter-echarts-pypkg
statsmodels
ipython
pytest
mplfinance
mock
seaborn
python-dotenv
pyperclip
